@page "/"

<style>
.component {
    display: flex;
    flex-direction: column;
    width: 32rem;
    margin: 4rem auto 4rem auto;
}

form {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;

}
form input[type="text"] {
    flex-grow: 1;
}

ul {
    display: flex;
    flex-direction: column;
}

ul li {
    display: flex;
}

.timestamp {
    width: 8rem;
}

.input {
    flex-grow: 1;
}
</style>

<div class="component">
<EditForm EditContext="@EditContext" OnSubmit="@Clear" >
    <OnInputText @bind-Value="Model.Input"  />
    <input type="submit" value="Clear" />
</EditForm>
<ul>
    @foreach (var item in Processed)
    {
        <li><span class="timestamp">@Timestamp(item.Item1)</span><span class="input">@item.Item2</span></li>
    }
</ul>
</div>

@code {
    private EditContext EditContext;
    public IndexModel Model {get;set;} = new();

    public void Clear()
    {
        Console.WriteLine($"Model.Input: {Model.Input}");
        Processed.Clear();
    }

    string Timestamp(DateTimeOffset ts) => ts.UtcDateTime.ToString("HH:mm:ss:fff");
    public List<(DateTimeOffset, string)> Processed { get; set; } = 
        new List<(DateTimeOffset, string)>();

    private void EditContext_OnFieldChanged(
        object sender, 
        FieldChangedEventArgs e)
    {
        var p = (DateTimeOffset.Now, Model.Input);
        Processed.Insert(0, p);
    }

    protected override void OnInitialized()
    {
        EditContext = new EditContext(Model);
        EditContext.OnFieldChanged += EditContext_OnFieldChanged;

        base.OnInitialized();
    }
}