.component {
    display: flex;
    flex-direction: column;
    width: 32rem;
    margin: 4rem auto 4rem auto;
}

form {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;

}
form input[type="text"] {
    flex-grow: 1;
}

ul {
    display: flex;
    flex-direction: column;
}

ul li {
    display: flex;
}

.timestamp {
    width: 8rem;
}

.input {
    flex-grow: 1;
}